__pycache__/
*.py[cod]
*$py.class

env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.swo
*.swp

*.tmp
*.temp
*.bak
*.orig
*.old

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

dist/
build/
*.egg-info/
.eggs/

.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/

*.pid
*.seed
*.pid.lock

.env
*.tar.gz
*.zip
